/* ================ HERO SECTION ================ */
.app__hero {
    margin-top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.app__hero-img-left,
.app__hero-img-right {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 6s ease-in-out infinite;
}

.app__hero-img-left img,
.app__hero-img-right img {
    width: 300%;
}

.app__hero-img-left img {
    transform: translateX(-25%);
}

.app__hero-img-right img {
    transform: translateX(25%);
}

.app__hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.app__hero-content-decorator {
    position: absolute;
}

.app__hero-content-decorator:nth-child(1) {
    width: 15%;
    bottom: 0;
    left: 0;
    animation: rotate-animation 2s ease-in-out infinite;
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes scale-up-animation {
    0% {
        transform: scale(100%);
    }

    25% {
        transform: scale(130%);
    }

    50% {
        transform: scale(110%);
    }

    75% {
        transform: scale(130%);
    }

    100% {
        transform: scale(100%);
    }
}

.app__hero-content-decorator:nth-child(2) {
    width: 20%;
    top: 0;
    right: 0;
    animation: scale-up-animation 2s ease-in-out infinite;
}

.app__hero-content-title {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50%;
    animation: float 3s ease-in-out infinite;
}

.app__hero-content-title h5 {
    font-size: 165px;
    letter-spacing: 0.05em;
    text-align: center;
    z-index: 5;
    -webkit-text-stroke: 2px var(--color-darkSienna);
    
}

.app__hero-content-title-backdrop {
    width: 100%;
    position: absolute;
    top: 0;
}

.app__hero-content-title-backdrop h5 {
    width: 100%;
    position: absolute;
    -webkit-text-stroke: 3px var(--color-darkSienna);
}

.app__hero-content-title-backdrop h5:nth-child(1) {
    color: var(--color-blueSapphire);
    transform: translate(-2% , -2%);
    z-index: 4;
}

.app__hero-content-title-backdrop h5:nth-child(2) {
    color: var(--color-mellowApricot);
    transform: translate(-3.5%, -3.5%);
    z-index: 3;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-2%);
	}
	100% {
		transform: translatey(0px);
	}
}

.app__hero-content a {
    color: var(--color-pearl);
    font-size: 40px;
    line-height: 60px;
    background: var(--color-watermelonRed);
    padding: 2rem 1.5rem;
    border-radius: 50%;
    border: 4px solid var(--color-pearl);
    box-shadow: 0 0 0 10px var(--color-watermelonRed);
    animation: scale-up-animation 4s ease-in-out infinite;
}

.app__hero-content a:hover {
    color: var(--color-mellowApricot);
    background: var(--color-blueSapphire);
    box-shadow: 0 0 0 10px var(--color-blueSapphire);
    border-color: var(--color-mellowApricot);
}

.app__hero-span {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 40px;
    white-space: nowrap;
}

.app__hero-span h4:nth-child(odd) {
    color: var(--color-mellowApricot);
}

.app__hero-span h4:nth-child(even) {
    color: var(--color-blueSapphire);
}

@media screen and (min-width: 2000px) {
    .app__hero-content-title {
        width: 70%;
    }
}

@media screen and (max-width: 1150px) {
    .app__hero-content-title h5 {
        font-size: 110px;
    }

    .app__hero-content a {
        font-size: 30px;
        line-height: 40px;
        padding: 1.5rem 1rem;
    }

    
}

@media screen and (max-width: 650px) {
    .app__hero {
        flex-direction: column;
    }

    .app__hero-content h5 {
        font-size: 75px;
    }

    .app__hero-content a {
        font-size: 14px;
    }

    .app__hero-img-left,
    .app__hero-img-right {
        width: 100%;
        height: 25%;
        z-index: -1;
    }

    .app__hero-img-left img,
    .app__hero-img-right img {
        height: 100%;
        width: auto;
    }

    .app__hero-img-left img {
        transform: translateX(-50%) translateY(10%);
    }

    .app__hero-img-right img {
        transform: translateX(50%) translateY(-10%);
    }

    .app__hero-span {
        font-size: 24px;
    }

    .app__hero-content-decorator:nth-child(1) {
        bottom: -10%;
        left: 5%;
    }

    .app__hero-content-decorator:nth-child(2) {
        top: -10%;
        right: 5%;
    }
}