/* ================ IMPORTING FONTS & OTHER RESOURCES ================ */
@import url('https://fonts.cdnfonts.com/css/chinook-freebie');
@font-face {
  font-family: 'Chinook';
  src: url(./assets/Chinook\ Regular.otf);
}
@font-face {
  font-family: 'PP Mori';
  src: url(./assets/PPMori-Regular.otf);
}


/* ================ VARIABLES ================ */
:root {
  /* TYPOGRAPHY */
  --font-main: 'Chinook', serif;
  --font-alt: 'PP Mori', sans-serif;
  
  /* COLOR SCHEME */
  --color-bg: #ECD9C3;
  --color-text-main: #B84141;
  --color-text-alt: #2F1717;
  --color-subtext: ;
  --color-primary: ;
  --color-primary-light: ;

  /* EVENTUAL MISCELLANEOUS COLORS */
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-pearl: #ECD9C3;
  --color-mellowApricot: #EDC16E;
  --color-watermelonRed: #B84141;
  --color-blueSapphire: #22646D;
  --color-melon: #F3BEAE;
  --color-oliveDrab: #40311F;
  --color-darkSienna: #2F1717;
  --color-eerieBlack: #1F1F1F;
  --color-temptress: #392222;


  /* ANIMATION VARIABLES */
  --transition: all 0.4s ease;

  /* MEDIA QUERY VARIABLES */
  --container-width-xl: 12%;
  --container-width-lg: 7%;
  --container-width-md: 5%;
  --container-width-sm: 3%;
}

/* ================ GLOBAL RULESET ================ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text-main);
}

/* ================ GENERAL STYLES ================ */
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.container {
  padding-left: var(--container-width-lg);
  padding-right: var(--container-width-lg);
}

h1 {
  font-family: var(--font-main);
  font-size: 70px;
  line-height: 70px;
  font-weight: 800;
}

h2 {
  font-family: var(--font-main);
  font-size: 34px;
  line-height: 41px;
  font-weight: 800;
}

p {
  font-family: var(--font-alt);
  font-size: 16px;
  line-height: 24px;
}

section {
  padding-top: 8rem;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}


/* ================ MEDIA QUERIES ================ */
/* EXTRA LARGE DEVICES */
@media screen and (min-width: 2000px) {
  .container {
    padding-left: var(--container-width-xl);
    padding-right: var(--container-width-xl);
  }
}

/* MEDIUM DEVICES */
@media screen and (max-width: 1150px) {
  .container {
    padding-left: var(--container-width-md);
    padding-right: var(--container-width-md);
  }

  section {
      padding-top: 8rem;
  }

  h1 {
    font-size: 54px;
    line-height: 54px;
  }
}

/* SMALL DEVICES */
@media screen and (max-width: 650px) {
  .container {
    padding-left: var(--container-width-sm);
    padding-right: var(--container-width-sm);
  }

  section > h2 {
      margin-bottom: 2rem;
  }

  h1 {
    font-size: 42px;
    line-height: 42px;
  }
}



/* ================ SCROLL BEHAVIOR & ANIMATIONS ================ */
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
